body{
    background: url(img/companyBlur.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container{
    margin: 70pt 0 0;
    padding: 0;
}
.page-header{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.page-header h1{
    font-weight: bold;
}
.page-header h2{
    font-weight: bold;
}

.login{
    margin: 100pt auto;
}
.login .jumbotron {
    width: 100%;
    margin: 0;
    padding-top: 5%; 
    padding-bottom: 5%;
    background: rgba(255, 255, 255, 0.8);
}
.login p{
    color: #684087;
    font-weight: bolder;
    font-size: 15pt;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px black;  */
}
.login input, a {
    margin: 0 auto 5%;
}
.login a.btn-primary{
    margin: auto;
    background:  #684087;
    border:  #684087;
}
.login a.btn-primary:hover {
    background: #301942;
}


/*MENU DE FUNCIONÁRIOS*/

section.func-all-btn{
    /* width: 80%; */
    margin: 50pt auto auto;
    padding: 0;
    
}
section.func-all-btn .btn-primary {
    background:  #684087;
    border:  #684087;
}
section.func-all-btn .btn-primary:hover {
    background: #301942;
}

.linha-func {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
.linha-func .image {
    display: inline-block;
    box-shadow: 1px 1px 3px black;
    margin: 10pt auto;
}
.linha-func a {
    width: 90%;
    height: 91%;
    margin:0;
    /* padding:10pt; */
    background-color: #684087;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #684087;
}
.linha-func a:hover  {
    opacity: .9;
}
.linha-func .text {
    border-radius: 5px;
    color: white; 
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*MENU DE AVALIAÇÕES*/
section.aval-opt {
    margin: 15% auto;
}
section.aval-opt .table{
    box-shadow: 1px 1px 2px #505050;
    height: 100%;
}
section.aval-opt .table tbody {
    background: white;
    /* height: 100%; */
}
section.aval-opt .table thead.thead-dark tr th{
    background: #301942;
}
section.aval-opt .table td{
    vertical-align: middle;
}
section.aval-opt .table tbody a{
    text-decoration: none;
    color: #505050;
}
section.aval-opt .table tbody a:hover{
    color:black;
}

section.aval-opt h4{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bolder;
    margin: 2% 0;

}
section.aval-total{
    margin: 5% auto;
    padding-bottom: 2%;
    /* border: solid;
    border-color: black; */
    background: rgba(255, 255, 255, .1);
    border-radius: 3pt;
}

/*RODAPÉ*/

footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20pt;
    width: 100%;
    background-color: #301942;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 5pt;
}
footer p{
    display: inline-block;
    text-transform: uppercase;
    margin: 5pt auto;
    padding: 5pt;
}
