body{
    background: url(img/companyBlur.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container{
    margin: 70pt 0 0;
    padding: 0;
}
.page-header{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.page-header h1{
    font-weight: bold;
}
.page-header h2{
    font-weight: bold;
}

.login{
    margin: 100pt auto;
}
.login .jumbotron {
    width: 100%;
    margin: 0;
    padding-top: 5%; 
    padding-bottom: 5%;
    background: rgba(255, 255, 255, 0.8);
}
.login p{
    color: #684087;
    font-weight: bolder;
    font-size: 15pt;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px black;  */
}
.login input {
    margin: 0 auto 5%;
}
.login .login-btn{
    padding: 0;
    margin: 20pt auto auto;
}
.login a.btn-primary{
    width: 100%;
    background:  #684087;
    border:  #684087;
}
.login a.btn-primary:hover {
    background: #301942;
}


/*MENU DE FUNCIONÁRIOS*/

.func-all-btn{
    margin: 50pt 0 20pt;
    padding: 0;
    
}
.func-all-btn .fa-btn{
    padding: 0;
    display: inline-block;
    margin: auto;
}
.func-all-btn .fa-btn .btn-primary {
    background:  #684087;
    border:  #684087;
    width: 100%;
    margin: 10pt auto;
    padding: 10pt;
}
.func-all-btn .fa-btn .btn-primary:hover {
    background: #301942;
}

.linha-func {
    right: 0;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
.linha-func .container {
    position: relative;
    margin: auto;
    padding: 10pt;
}
  
.linha-func .image {
    display: block;
}
  
.linha-func .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 13pt;
    opacity: 0;
    transition: .5s ease;
}
  
.linha-func .container a:hover .overlay {
    background: #301942;
    opacity: .9;
}
  
.linha-func .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}




.cartao-funcionario{
    margin: 50pt auto;
    padding: 0;
    color: white;
    font-size: 14pt;
}
.cartao-funcionario .image{
    margin: 20pt auto;
}
.cartao-funcionario .jumbotron{
    margin: 20pt auto;
    padding: 30pt 0;
    color: #684087;
    background: rgba(255, 255, 255, 0.6);
}
.cartao-funcionario .jumbotron ul li {
    list-style: none;
}
.cartao-funcionario .table {
    font-size: 12pt;
    text-align: center;
    height: auto;
    margin: 20pt auto;
}
.cartao-funcionario .table td {
    vertical-align: middle;
    font-size: 14pt;
}
.cartao-funcionario .table td a{
    color: grey;
    transition: .2s ease-in-out;
    text-decoration: none;
}
.cartao-funcionario .table td a:hover{
    color: black;
}
.cartao-funcionario table#table-geral{
    height: 82%;
}
.cartao-funcionario table thead.thead-dark th {
    border: none;
    background: #684087;
}
.cartao-funcionario table thead.thead-dark th#table-des  {
    background: #911616;
}
.cartao-funcionario table thead.thead-dark th#table-comp  {
    background: #1f3a7f;
}
.cartao-funcionario table thead.thead-dark th#table-hab  {
    background: #fcbd02;
}
.cartao-funcionario table thead.thead-dark th#table-adap  {
    background: #337c21;
}
.cartao-funcionario table tbody{
    background: white;
}



/*MENU DE AVALIAÇÕES*/
section.aval-opt {
    margin: 15% auto;
}
section.aval-opt .table{
    box-shadow: 1px 1px 2px #505050;
    height: 100%;
}
section.aval-opt .table tbody {
    background: white;
    /* height: 100%; */
}
section.aval-opt .table thead.thead-dark tr th{
    background: #301942;
}
section.aval-opt .table td{
    vertical-align: middle;
}
section.aval-opt .table tbody a{
    text-decoration: none;
    color: #505050;
}
section.aval-opt .table tbody a:hover{
    color:black;
}

section.aval-opt h4{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bolder;
    margin: 2% 0;

}
section.aval-total{
    margin: 5% auto;
    padding-bottom: 2%;
    /* border: solid;
    border-color: black; */
    background: rgba(255, 255, 255, .1);
    border-radius: 3pt;
}

/*RODAPÉ*/

footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20pt;
    width: 100%;
    background-color: #301942;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 5pt;
}
footer p{
    display: inline-block;
    text-transform: uppercase;
    margin: 5pt auto;
    padding: 5pt;
}
